

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
}
.container{
    width: 100%;
    background-color: #e7e9f1;
    display: flex;
    justify-content: center;

    
    
}
.container img{
    width: 100%;
}
.imgdiv{
    height: 100%;
    width: 100%;
    
    
}

.contant{
   
    padding: 10px;
    display: flex;
    
     
}   
.container h2{
    text-align: center;
}

h2{
    margin-top: 15px;
    font-size: x-large;
}
p{
    font-size: small;
}
 
.div_flex_container1{
    display: grid;
    background-color: #e7e9f1;
    flex-wrap: wrap;
   
    grid-template-columns: 50% 50%;
    

}
.div_space{
    
    max-width: 100%;
    max-height:100% ;
    margin: 15px;
}
.text{
    font-size: medium;
    font-size: larger;
}
.textspace{
    margin-top: 20px!important;
    padding: 0.01em 16px;
}
.textspace h2{
    font-size: x-large;
}
.Subscribe{
    background-color: black;
    color: white;
    padding: 10px 15px 10px;
    display:grid;
    margin: 15px;
    
}

.section{
    margin-left: 10%;
    margin-right: 10%;
 

    
}
body{
    background-color: #e7e9f1;
}
.Subscribe p{
    font-size: larger;
    margin-bottom: 5px;
   
}.Subscribe input{
    width: 30%;
    padding: 5px;
    font-size: medium;
    font-weight: 500;
}
.Subscribe button{
    width: 20%;
    height: 35px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
}
#sec{
    padding: 15px;
    
}
.section p{
    padding: 10px 0px;
}
i img{
    height: 25px;
}
i p{
    color: black;
    font-size: medium;
    font-style: normal;
    margin-left: 10px;
}
i{
    display: inline-flex;
    align-items: center;

    
}
#button:hover{
    background-color: #eb4e27;